.cover__subtitle {
  position: relative;
  margin: 0 auto;
  max-width: 360px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
}

@media screen and (max-width: 547px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 114%;
  }
}