.header {
  max-width: calc(100% - 96px);
  display: flex;
  margin: 28px auto 48px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: calc(100% - 96px);
  }
}


@media screen and (max-width: 768px) {
  .header {
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 420px) {
  .header {
    max-width: calc(100% - 32px);
  }
}