.intro {
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: calc(100% - 96px);
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: calc(100% - 48px);
  }
}


@media screen and (max-width: 420px) {
  .intro {
    max-width: calc(100% - 32px);
  }
}