.root {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2A2C2F;
  color: #fff;
  font-family:"Inter", Arial, Helvetica, sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
} 