.place {
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  row-gap: 48px;
  column-gap: 40px;
}

.place:not(:last-of-type) {
  padding-bottom: 80px;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
  }
}