.footer {
  margin: 0 auto;
  max-width: calc(100% - 96px);
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}