.place__url-heading {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  color: #aaa;
}

@media screen and (max-width: 420px) {
  .place__url-heading {
    margin: 0 16px;
  }
}